*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hori{
    background-image: url(../Html1/img/Downloads\ -\ Copy\ \(5\)/);
    background-size: contain;
    width: 100%;
    height: 400px;
}

.man{
    position: absolute;
    top: 500px;
    width: 100px;
    height: 100px;
    width: 100px;
    left: 10px;
    top: 200px;
    animation-name: hori;
    animation-duration: 7000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}


@keyframes hori{
    from{
        left: 0%;
    }

    to{
        left: 100%
    }
}